* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

.wrap {
	width: 1000px;
	margin:0 auto; 
}

.nav{
	width: 100%;
	height:70px;
}

.nav ul{

}

.nav img{
	float: left;
}
.nav li {
	display: inline-block;
	float: left;
    width: 100px;
    margin:0 10px; 
	line-height: 70px;
	text-align: center;
}

.nav li a,  .nav li a:visited{
	display: block;
	color: black;
	text-decoration: none;
}

.nav li a:hover,  .nav li a:active{
	display: block;
    background-color:#CA3747;
}

.focus_pic{
	margin: 10px 0; 
	height: 320px;
	overflow: hidden;
	background: url("http://img.mukewang.com/53edad8c000175cb00300029.jpg") no-repeat center;
}

.news_flash{
	height: 35px;
	margin: 20px 0;
	color: white;
	line-height: 35px;
}

.fnews_left{
	display: inline-block;
	width: 20%;
	background-color: #CA3747;
	float: left;
	text-align: center;
}

.fnews_right{
	box-sizing: border-box;
	display: inline-block;
	width:80%;
	padding-left: 20px;
	background-color: black;
}

.left , .middle, .right{
	float: left;
	width:330px;
	margin-right: 3px;
}

.news_pic {
	height:165px;
}

.news_pic h3{
	border: 1px solid #EEEEEE;
	display: block;
	font-style: normal;
	font-size: 14px;
	text-align: center;
	padding: 5px 0;
}

.content{
	margin: 20px 0 10px;
	height: 380px;
}

.content .left, .content .middle, .content .right{
	border: 1px solid  #EEEEEE;
	height: 380px;
	box-sizing:border-box;
}
.content_head {
	display: block;
	height: 40px;
	line-height: 40px;
	background-color: #CA3747;
	color: white;
	padding-left: 20px;
}

.content_head ~ div{
	margin: 0 3px;
	height: 110px;
	border-bottom: 1px dotted #CA3747;
}
.content span{
    margin: 20px 10px;
    padding: 5px;
    display: block;
    width: 52px;
    height: 60px;
    background-color: #CA3747;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    float: left;
    clear:both;
}

.content h2{
    font-size: 18px;
    line-height: 50px;
}

.content p{
	line-height: 20px;
    font-size: 12px;
}

.content img{
	width: 280px; 
	padding: 30px 20px 10px;
}

.content ul{
	padding-left: 20px;
}

.content li{
	list-style-type: none;
}

.content a, .content a:visited{
	text-decoration: none;
	color: black;
}

.content a:hover, .content a:active{
	color: white;
	background-color: #CA3747;
}

.content .right p{
	line-height: 25px;
    font-size: 16px;
    padding-left: 15px;
}

.content .right h4 + p{
	margin-top: 20px;
}

.copyright{
	height: 60px;
	line-height: 60px;
	clear:both;
	background-color: #eee;
	text-align: center;
}